			<table class="table">
				<% book.post_comments.each do |post_comment| %>
					<tr class="post-comment<%= post_comment.id%>">
						<td class="comment">
							<%= attachment_image_tag book.user, :profile_image, format: 'jpeg', size: "60x60",fallback: "no_image.png" %>
						</td>
						<td class="comment-text">
							<%= link_to user_path(post_comment.user) do %>
								<%= post_comment.user.name %>
							<% end %>
						</td>
						<td class="comment-entry"><%= post_comment.comment %>
						</td>
						<% if post_comment.user==current_user %>
							<td>
								<%= link_to book_post_comment_path(book.id,post_comment),method: :delete,remote: true do %>
									<i class="btn-sm btn-danger">Destroy</i>
								<% end %>
							</td>
							<% else %>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		<hr>