<div class="col-xs-3">
<h1>User info</h1>

	<%= attachment_image_tag user, :profile_image,style: "width: 100px; height: 100px;",fallback: "no_image.png" %>
	<table class="table">
		<tbody>
			<tr>
				<th>name</th>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<th>introduction</th>
				<td><%= user.introduction %></td>
			</tr>
			<tr>
				<th>都道府県コード</th>
				<td>
					<%= user.prefecture_code %>
				</td>
			</tr>
			<tr>
				<th>都道府県</th>
				<td>
					<%= user.prefecture_name %>
				</td>
			</tr>
			<tr>
				<th>市町村</th>
				<td>
					<%= user.address_city %>
				</td>
			</tr>
			<tr>
				<th>番地</th>
				<td>
					<%= user.address_street %>
				</td>
			</tr>
			<tr>
				<th>建物名</th>
				<td>
					<%= user.address_building %>
				</td>
			</tr>
			<tr>
				<th>緯度</th>
				<td>
					<%= user.latitude %>
				</td>
			</tr>
			<tr>
				<th>経度</th>
				<td>
					<%= user.longitude %>
				</td>
			</tr>
			<tr>
				<th>follows</th>
				<td>
					<%= link_to follower_all_path(user) do%>
						<%= user.follower.count%>
					<% end %>
				</td>
			</tr>
			<tr>
				<th>followed</th>
				<td>
					<%= link_to followed_all_path(user) do%>
						<%= user.followed.count%>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<% if user != current_user %>
		<% if current_user.following?(user) %>
		<%= link_to unfollow_path(user.id),method: :POST do %>
		<i class="btn btn-primary col-xs-12">フォロー中</i>
		<% end %>
		<% else %>
		<%= link_to follow_path(user.id),method: :POST do %>
		<i class="btn btn-primary col-xs-12">フォローする</i>
		<% end %>
		<% end %>
		<% end %>
		<%= link_to edit_user_path(current_user.id) do %>
			<div class="col-xs-12 btn btn-default">
					<i class="glyphicon glyphicon-wrench edit_user_22427"></i>
			</div>
		<% end %>
	</div>

<%= render 'books/new',book: Book.new %>
</div>